# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
# your code here
import numpy as np

#### 2. Print your NumPy version.

In [2]:
# your code here
np.version.version

'1.18.5'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [3]:
# Method 1
a=np.random.random((2,3,5))
a

array([[[0.46263659, 0.91829522, 0.02092216, 0.36284668, 0.97618319],
        [0.2465299 , 0.73014132, 0.98610494, 0.10790907, 0.2386426 ],
        [0.66230442, 0.83545207, 0.7797462 , 0.01002184, 0.58084131]],

       [[0.96473111, 0.42474894, 0.40014122, 0.71390036, 0.91109646],
        [0.24180972, 0.28618112, 0.62201983, 0.31368818, 0.75065059],
        [0.20710104, 0.5185887 , 0.2983643 , 0.96056951, 0.94238428]]])

In [4]:
# Method 2
a1=np.random.rand(2,3,5)
a1

array([[[0.97709254, 0.58255626, 0.21990915, 0.12575636, 0.45885539],
        [0.09893763, 0.23966784, 0.36636626, 0.78999745, 0.03501038],
        [0.58425234, 0.90260639, 0.33755183, 0.80789492, 0.23440024]],

       [[0.0558994 , 0.44487261, 0.49893155, 0.44561956, 0.39429842],
        [0.18521196, 0.36247948, 0.76719737, 0.87796567, 0.59697646],
        [0.00321525, 0.23688915, 0.42720225, 0.51480648, 0.51883921]]])

In [5]:
# Method 3
a2=np.random.randint(500, size=(2,3,5))
a2

array([[[140,  19, 185,  23,  26],
        [ 80, 171, 451, 360, 421],
        [249, 337, 204, 428, 159]],

       [[254, 211, 201, 363, 352],
        [280, 131, 181, 392,  86],
        [ 40, 266,  33, 158, 130]]])

#### 4. Print *a*.

In [6]:
# your code here
print(a)

[[[0.46263659 0.91829522 0.02092216 0.36284668 0.97618319]
  [0.2465299  0.73014132 0.98610494 0.10790907 0.2386426 ]
  [0.66230442 0.83545207 0.7797462  0.01002184 0.58084131]]

 [[0.96473111 0.42474894 0.40014122 0.71390036 0.91109646]
  [0.24180972 0.28618112 0.62201983 0.31368818 0.75065059]
  [0.20710104 0.5185887  0.2983643  0.96056951 0.94238428]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [7]:
# your code here
b=np.ones((5,2,3))

#### 6. Print *b*.

In [8]:
# your code here
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [9]:
# your code here
print(a.size)
print(b.size)

#Yes, both have the same size

30
30

#### 8. Are you able to add *a* and *b*? Why or why not?

In [10]:
# your answer here
#No i can't because even though they have the same size, their shapes are not compatible for such computation

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [11]:
# your code here
c=np.transpose(b).reshape(2,3,5)
c

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [12]:
# your code/answer here
d=a+c
d

array([[[1.46263659, 1.91829522, 1.02092216, 1.36284668, 1.97618319],
        [1.2465299 , 1.73014132, 1.98610494, 1.10790907, 1.2386426 ],
        [1.66230442, 1.83545207, 1.7797462 , 1.01002184, 1.58084131]],

       [[1.96473111, 1.42474894, 1.40014122, 1.71390036, 1.91109646],
        [1.24180972, 1.28618112, 1.62201983, 1.31368818, 1.75065059],
        [1.20710104, 1.5185887 , 1.2983643 , 1.96056951, 1.94238428]]])

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [13]:
# your code/answer here
print("This is a:",a)
print("This is d:",d)

#d is equal to a plus the transpose of b so this is normal that a and d ahve different values

This is a: [[[0.46263659 0.91829522 0.02092216 0.36284668 0.97618319]
  [0.2465299  0.73014132 0.98610494 0.10790907 0.2386426 ]
  [0.66230442 0.83545207 0.7797462  0.01002184 0.58084131]]

 [[0.96473111 0.42474894 0.40014122 0.71390036 0.91109646]
  [0.24180972 0.28618112 0.62201983 0.31368818 0.75065059]
  [0.20710104 0.5185887  0.2983643  0.96056951 0.94238428]]]
This is d: [[[1.46263659 1.91829522 1.02092216 1.36284668 1.97618319]
  [1.2465299  1.73014132 1.98610494 1.10790907 1.2386426 ]
  [1.66230442 1.83545207 1.7797462  1.01002184 1.58084131]]

 [[1.96473111 1.42474894 1.40014122 1.71390036 1.91109646]
  [1.24180972 1.28618112 1.62201983 1.31368818 1.75065059]
  [1.20710104 1.5185887  1.2983643  1.96056951 1.94238428]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [14]:
# your code here
e=a*c
e

array([[[0.46263659, 0.91829522, 0.02092216, 0.36284668, 0.97618319],
        [0.2465299 , 0.73014132, 0.98610494, 0.10790907, 0.2386426 ],
        [0.66230442, 0.83545207, 0.7797462 , 0.01002184, 0.58084131]],

       [[0.96473111, 0.42474894, 0.40014122, 0.71390036, 0.91109646],
        [0.24180972, 0.28618112, 0.62201983, 0.31368818, 0.75065059],
        [0.20710104, 0.5185887 , 0.2983643 , 0.96056951, 0.94238428]]])

#### 13. Does *e* equal to *a*? Why or why not?

In [15]:
# your code/answer here
print(e==a)

#Yes they are equal because B and the transpose of B are full of ones so when we multiply each value of A by 1, we still get A

[[[ True  True  True  True  True]
  [ True  True  True  True  True]
  [ True  True  True  True  True]]

 [[ True  True  True  True  True]
  [ True  True  True  True  True]
  [ True  True  True  True  True]]]

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [16]:
# your code here
d_max=np.amax(d)
d_min=np.amin(d)
d_mean=np.mean(d)

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [17]:
# your code here
f=np.empty_like(d)
f

array([[[0.46263659, 0.91829522, 0.02092216, 0.36284668, 0.97618319],
        [0.2465299 , 0.73014132, 0.98610494, 0.10790907, 0.2386426 ],
        [0.66230442, 0.83545207, 0.7797462 , 0.01002184, 0.58084131]],

       [[0.96473111, 0.42474894, 0.40014122, 0.71390036, 0.91109646],
        [0.24180972, 0.28618112, 0.62201983, 0.31368818, 0.75065059],
        [0.20710104, 0.5185887 , 0.2983643 , 0.96056951, 0.94238428]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [21]:
# your code here
f=np.where(d==d_max,100,d)
f=np.where(d<d_max,75,f)
f=np.where(d==d_mean,50,f)
f=np.where(d<d_mean,25,f)
f=np.where(d==d_min,0,f)

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [20]:
# your code here
print(d)
print(f)

[[[1.46263659 1.91829522 1.02092216 1.36284668 1.97618319]
  [1.2465299  1.73014132 1.98610494 1.10790907 1.2386426 ]
  [1.66230442 1.83545207 1.7797462  1.01002184 1.58084131]]

 [[1.96473111 1.42474894 1.40014122 1.71390036 1.91109646]
  [1.24180972 1.28618112 1.62201983 1.31368818 1.75065059]
  [1.20710104 1.5185887  1.2983643  1.96056951 1.94238428]]]
[[[ 25.  75.  25.  25.  75.]
  [ 25.  75. 100.  25.  25.]
  [ 75.  75.  75.   0.  75.]]

 [[ 75.  25.  25.  75.  75.]
  [ 25.  25.  75.  25.  75.]
  [ 25.  25.  25.  75.  75.]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [22]:
# your code here
e=np.where(d==d_max,'E',d)
e=np.where(d<d_max,'D',e)
e=np.where(d==d_mean,'C',e)
e=np.where(d<d_mean,'B',e)
e=np.where(d==d_min,'A',e)
print(e)

[[['B' 'D' 'B' 'B' 'D']
  ['B' 'D' 'E' 'B' 'B']
  ['D' 'D' 'D' 'A' 'D']]

 [['D' 'B' 'B' 'D' 'D']
  ['B' 'B' 'D' 'B' 'D']
  ['B' 'B' 'B' 'D' 'D']]]