## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(100), k=80)
print(sample_list_1)

[25, 94, 26, 41, 28, 37, 52, 13, 7, 1, 64, 63, 46, 48, 16, 15, 95, 6, 60, 0, 67, 71, 18, 22, 39, 54, 49, 50, 73, 82, 80, 58, 14, 59, 84, 27, 35, 88, 72, 55, 38, 70, 43, 74, 30, 47, 93, 45, 19, 89, 21, 8, 57, 40, 65, 66, 51, 23, 53, 33, 77, 12, 24, 20, 44, 92, 96, 85, 68, 97, 83, 36, 5, 3, 9, 32, 56, 31, 81, 76]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
len(set1)
#Yes the length is still 80 because random.sample only returns unique values

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[64, 13, 85, 41, 28, 38, 23, 85, 64, 11, 45, 98, 69, 80, 14, 56, 23, 12, 85, 6, 15, 52, 94, 38, 28, 95, 72, 17, 23, 26, 27, 19, 57, 45, 23, 55, 49, 97, 25, 31, 36, 14, 67, 45, 40, 27, 23, 65, 32, 19, 77, 56, 49, 65, 87, 42, 58, 88, 7, 13, 53, 52, 50, 15, 57, 79, 82, 48, 56, 53, 95, 82, 35, 62, 77, 79, 1, 70, 84, 96]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
len(set2)
#No because set2's values didn't have to be unique vs sets only keep unique values

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set1-set2
print(set3)

{0, 3, 5, 8, 9, 16, 18, 20, 21, 22, 24, 30, 33, 37, 39, 43, 44, 46, 47, 51, 54, 59, 60, 63, 66, 68, 71, 73, 74, 76, 81, 83, 89, 92, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2-set1
print(set4)

{98, 69, 42, 11, 79, 17, 87, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set1&set2
print(set5)

{1, 6, 7, 12, 13, 14, 15, 19, 23, 25, 26, 27, 28, 31, 32, 35, 36, 38, 40, 41, 45, 48, 49, 50, 52, 53, 55, 56, 57, 58, 64, 65, 67, 70, 72, 77, 80, 82, 84, 85, 88, 94, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len(set3)+len(set4)+len(set5)==len(set1)+len(set2)-len(set5)

80
53
35
8
45

True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3, set5)
        
print(set6)

{0, 1, 3, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 80, 81, 82, 83, 84, 85, 88, 89, 92, 93, 94, 95, 96, 97}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3

In [13]:
# Your code here
x=set2.issubset(set1)
print(x)

y=set3.issubset(set1)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
v=set3.union(set4.union(set5))
print(v)

whole=set1&set2
print(whole)

v==whole
#They are not equal

{0, 1, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98}
{1, 6, 7, 12, 13, 14, 15, 19, 23, 25, 26, 27, 28, 31, 32, 35, 36, 38, 40, 41, 45, 48, 49, 50, 52, 53, 55, 56, 57, 58, 64, 65, 67, 70, 72, 77, 80, 82, 84, 85, 88, 94, 95, 96, 97}

False

#### Using the `pop` method, remove the first element from `set1`.

In [17]:
# Your code here
lst=list(set1)
lst.pop(lst[0])
set1=set(lst)
print(set1)

{1, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 80, 81, 82, 83, 84, 85, 88, 89, 92, 93, 94, 95, 96, 97}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

final=[i for i in set1 if i not in list_to_remove]
print(final)

[5, 6, 7, 8, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 80, 82, 83, 84, 85, 88, 92, 93, 94, 95, 96, 97]